---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const skills = await getCollection('skills')

skills.sort((a, b) => a.data.order - b.data.order)
---

<div class='container mx-auto px-4 mb-20 text-center'>
  <div
    class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4'
  >
    {
      skills.map((skill) => (
        <div class='bg-gray-800 rounded-lg shadow-lg overflow-hidden'>
          <Image
            src={skill.data.logo}
            alt={skill.data.skill}
            class='w-full h-48 object-cover'
            loading='eager'
          />
          <div class='p-4'>
            <h4 class='text-xl font-bold mb-2'>{skill.data.skill}</h4>
            <ul class='text-sm'>
              <li class='mb-2'>
                Proficiency:
                <span class='ml-2 bg-blue-500 text-white px-2 py-1 rounded-full'>
                  {skill.data.proficiency}/10
                </span>
              </li>
              <li>{skill.data.label}</li>
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</div>
