---
import { BLOG_POST_ROOT } from '@lib/common/constants'
import { join } from '@lib/util/join'
import { Image } from 'astro:assets'
const { prefix = BLOG_POST_ROOT, post } = Astro.props
---

<div class='card h-100'>
  <Image
    src={post.data.image}
    alt={post.data.title}
    class='card-img-top img-fluid'
  />
  <div class='card-body'>
    <h5 class='card-title'>{post.data.title}</h5>
    <p class='card-text'>{post.data.description}</p>
    <a
      href={join([prefix, post.slug])}
      class='icon-link gap-1 icon-link-hover stretched-link'
    >
      Continue reading
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='16'
        height='16'
        fill='currentColor'
        class='bi bi-chevron-right'
        viewBox='0 0 16 16'
      >
        <path
          fill-rule='evenodd'
          d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708'
        ></path>
      </svg>
    </a>
  </div>
  <div class='card-footer'>
    <small class='text-body-secondary'>
      Published: {post.data.pubDate.toDateString()}
    </small>
  </div>
</div>
