---
import BootstrapLayout from '@layouts/bootstrap-layout.astro'
import { BLOG_PAGE_ROOT } from '@lib/common/constants'
import { join } from '@lib/util/join'
import Tags from '@components/astro/bootstrap/tags.astro'
import { Image } from 'astro:assets'

const { frontmatter } = Astro.props

const { title, author, published, tags, image } = frontmatter

const prefix = BLOG_PAGE_ROOT
---

<BootstrapLayout title={title}>
  <div class='container container-xl pt-5'>
    <div class='row row-cols-1 row-cols-md-2'>
      <div class='col col-md-8'>
        <div class='bd-example m-0 border-0 mb-3'>
          <h1 class='display-3 mb-4'>
            {title}
          </h1>

          <Image
            src={image}
            alt={title}
            class='card-img-top img-fluid bd-placeholder-img bd-placeholder-img-lg img-fluid mb-3'
          />
          <p class='text-muted d-flex justify-content-between'>
            <small>
              <em>{frontmatter.description}</em>
            </small>
            <small>
              {
                new Date(published).toLocaleDateString('en-US', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })
              }
            </small>
          </p>
        </div>
        <hr />
        <slot />
      </div>
      <div class='col col-md-4'>
        <Tags tags={tags} />
        <div class='row'>
          <div class='col'>
            <div class='d-grid gap-2 d-md-flex justify-content-md-end'>
              <a href={join([prefix, '1'])} class='btn btn-outline-primary'
                >View All Posts &raquo;</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BootstrapLayout>

<style is:global>
  .astro-code {
    padding: 1rem;
    border: 1px solid #5555;
    border-radius: 0.25rem;
  }

  blockquote {
    background-color: hsl(0, 0%, 18%, 0.75);
    padding: 0.5rem 1rem;
    margin: 0 0 1rem;
    border-left: 0.25rem solid hsla(0, 0%, 50%, 0.75);
  }

  img,
  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  a {
    word-break: break-all;
  }
</style>
