---
import Alert from '@components/astro/bootstrap/alert.astro'
import BootstrapLayout from '@layouts/bootstrap-layout.astro'
import { fade } from 'astro:transitions'
import { BLOG_UNDER_CONSTRUCTION } from '@lib/common/constants'

const { frontmatter } = Astro.props

const { title, author, pubDate, tags } = frontmatter
---

<BootstrapLayout title={title}>
  <div class='container container-xl pt-5'>
    <div class='row'>
      <div class='col'>
        <Alert variant='warning'> {BLOG_UNDER_CONSTRUCTION} </Alert>
      </div>
    </div>
    <div class='row row-cols-1 row-cols-md-2'>
      <div class='col col-md-8'>
        <h1 class='display-1'>{title}</h1>
        <hr />
        <p><small>Written by <span title='/about'>{author}</span></small></p>
        <p><small>Published on: {pubDate}</small></p>
        <hr />
        <p transition:animate={fade({ duration: '2s' })}>
          <em>{frontmatter.description}</em>
        </p>

        <slot />
      </div>
      <div class='col col-md-4 pt-5'>
        <div
          class='d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary mb-5'
        >
          <div
            class='d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='20'
              height='20'
              fill='currentColor'
              class='bi bi-tags-fill me-3'
              viewBox='0 0 16 16'
            >
              <path
                d='M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3'
              ></path>
              <path
                d='M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043z'
              ></path>
            </svg>
            <span class='fs-5 fw-semibold'>Tags</span>
          </div>
          <ul class='tags list-group list-group-flush border-bottom scrollarea'>
            {
              tags.map((tag: string) => (
                <li class='list-group-item'>
                  <span title={`/tags/${tag}`}>{tag}</span>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</BootstrapLayout>
