---
import Alert from '@components/astro/bootstrap/alert.astro'
import BootstrapLayout from '@layouts/bootstrap-layout.astro'
import { fade } from 'astro:transitions'
import { BLOG_TAGS_ROOT, BLOG_UNDER_CONSTRUCTION } from '@lib/common/constants'
import { join } from '@lib/util/join'
import Tags from '@components/astro/bootstrap/tags.astro'

const { frontmatter } = Astro.props

const { title, author, pubDate, tags } = frontmatter
---

<BootstrapLayout title={title}>
  <div class='container container-xl pt-5'>
    <div class='row'>
      <div class='col'>
        <Alert variant='warning'> {BLOG_UNDER_CONSTRUCTION} </Alert>
      </div>
    </div>
    <div class='row row-cols-1 row-cols-md-2'>
      <div class='col col-md-8'>
        <h1 class='display-1'>{title}</h1>
        <hr />
        <p><small>Written by <span title='/about'>{author}</span></small></p>
        <p><small>Published on: {pubDate}</small></p>
        <hr />
        <p transition:animate={fade({ duration: '2s' })}>
          <em>{frontmatter.description}</em>
        </p>

        <slot />
      </div>
      <div class='col col-md-4 pt-5'>
        <Tags tags={tags} />
      </div>
    </div>
  </div>
</BootstrapLayout>
